<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_notvenified.name %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @user_notvenified.uuid %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user_notvenified.birthday %>
</p>

<p>
  <strong>Property:</strong>
  <%= @user_notvenified.property %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user_notvenified.mobile %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @user_notvenified.sender %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user_notvenified.mail %>
</p>

<p>
  <strong>Department:</strong>
  <%= @user_notvenified.department %>
</p>

<p>
  <strong>Position:</strong>
  <%= @user_notvenified.position %>
</p>

<p>
  <strong>Area:</strong>
  <%= @user_notvenified.area %>
</p>

<p>
  <strong>Subjection:</strong>
  <%= @user_notvenified.subjection %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @user_notvenified.tel %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @user_notvenified.fax %>
</p>

<p>
  <strong>Im:</strong>
  <%= @user_notvenified.im %>
</p>

<p>
  <strong>Id card:</strong>
  <%= @user_notvenified.id_card %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user_notvenified.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @user_notvenified.postcode %>
</p>

<%= link_to 'Edit', edit_user_notvenified_path(@user_notvenified) %> |
<%= link_to 'Back', user_notvenifieds_path %>
