<h1>Listing users</h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Uuid</th>
      <th>Birthday</th>
      <th>Property</th>
      <th>Mobile</th>
      <th>Sender</th>
      <th>Mail</th>
      <th>Department</th>
      <th>Position</th>
      <th>Area</th>
      <th>Subjection</th>
      <th>Tel</th>
      <th>Fax</th>
      <th>Im</th>
      <th>Id card</th>
      <th>Address</th>
      <th>Postcode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.uuid %></td>
        <td><%= user.birthday %></td>
        <td><%= user.property %></td>
        <td><%= user.mobile %></td>
        <td><%= user.sender %></td>
        <td><%= user.mail %></td>
        <td><%= user.department %></td>
        <td><%= user.position %></td>
        <td><%= user.area %></td>
        <td><%= user.subjection %></td>
        <td><%= user.tel %></td>
        <td><%= user.fax %></td>
        <td><%= user.im %></td>
        <td><%= user.id_card %></td>
        <td><%= user.address %></td>
        <td><%= user.postcode %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
