<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @user.uuid %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Property:</strong>
  <%= @user.property %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user.mobile %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @user.sender %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<p>
  <strong>Department:</strong>
  <%= @user.department %>
</p>

<p>
  <strong>Position:</strong>
  <%= @user.position %>
</p>

<p>
  <strong>Area:</strong>
  <%= @user.area %>
</p>

<p>
  <strong>Subjection:</strong>
  <%= @user.subjection %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @user.tel %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @user.fax %>
</p>

<p>
  <strong>Im:</strong>
  <%= @user.im %>
</p>

<p>
  <strong>Id card:</strong>
  <%= @user.id_card %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @user.postcode %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
