<%= form_for(@fax) do |f| %>
  <% if @fax.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fax.errors.count, "error") %> prohibited this fax from being saved:</h2>

      <ul>
      <% @fax.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uuid %><br>
    <%= f.text_field :uuid %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.number_field :type %>
  </div>
  <div class="field">
    <%= f.label :national %><br>
    <%= f.number_field :national %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.number_field :city %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :extension %><br>
    <%= f.text_field :extension %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
