<h1>Listing faxes</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Type</th>
      <th>National</th>
      <th>City</th>
      <th>Number</th>
      <th>Extension</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faxes.each do |fax| %>
      <tr>
        <td><%= fax.uuid %></td>
        <td><%= fax.type %></td>
        <td><%= fax.national %></td>
        <td><%= fax.city %></td>
        <td><%= fax.number %></td>
        <td><%= fax.extension %></td>
        <td><%= link_to 'Show', fax %></td>
        <td><%= link_to 'Edit', edit_fax_path(fax) %></td>
        <td><%= link_to 'Destroy', fax, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fax', new_fax_path %>
