<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @fax.uuid %>
</p>

<p>
  <strong>Type:</strong>
  <%= @fax.type %>
</p>

<p>
  <strong>National:</strong>
  <%= @fax.national %>
</p>

<p>
  <strong>City:</strong>
  <%= @fax.city %>
</p>

<p>
  <strong>Number:</strong>
  <%= @fax.number %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @fax.extension %>
</p>

<%= link_to 'Edit', edit_fax_path(@fax) %> |
<%= link_to 'Back', faxes_path %>
