<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @mobile_type_list.uuid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mobile_type_list.name %>
</p>

<%= link_to 'Edit', edit_mobile_type_list_path(@mobile_type_list) %> |
<%= link_to 'Back', mobile_type_lists_path %>
