<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @address.uuid %>
</p>

<p>
  <strong>Type:</strong>
  <%= @address.type %>
</p>

<p>
  <strong>National:</strong>
  <%= @address.national %>
</p>

<p>
  <strong>Province:</strong>
  <%= @address.province %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @address.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @address.postcode %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
