<h1>Listing ims</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Type</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ims.each do |im| %>
      <tr>
        <td><%= im.uuid %></td>
        <td><%= im.type %></td>
        <td><%= im.number %></td>
        <td><%= link_to 'Show', im %></td>
        <td><%= link_to 'Edit', edit_im_path(im) %></td>
        <td><%= link_to 'Destroy', im, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Im', new_im_path %>
