<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @email.uuid %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @email.mail %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
