<h1>Listing departmentlists</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departmentlists.each do |departmentlist| %>
      <tr>
        <td><%= departmentlist.uuid %></td>
        <td><%= departmentlist.name %></td>
        <td><%= link_to 'Show', departmentlist %></td>
        <td><%= link_to 'Edit', edit_departmentlist_path(departmentlist) %></td>
        <td><%= link_to 'Destroy', departmentlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Departmentlist', new_departmentlist_path %>
