<%= form_for(@im_type_list) do |f| %>
  <% if @im_type_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@im_type_list.errors.count, "error") %> prohibited this im_type_list from being saved:</h2>

      <ul>
      <% @im_type_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uuid %><br>
    <%= f.text_field :uuid %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
